server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://db:5432/pr_service
    username: pr_user
    password: pr_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration
